.history
node_modules/
.DS_Store
.env
.env.example
.env.test
.env.development
.env.production
.env.staging
.env.development.local
.env.test.local
.env.production.local
.env.staging.local
.env.development.local